@font-face {
    font-family: 'Corinthia';
    src:
        url('../assets/fonts/Corinthia-Bold.woff') format('woff'),
        url('../assets/fonts/Corinthia-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: cursive;
    font-display: swap;
}