@import "./base/sanitize";
@import "./base/html5doctor";
@import "./base/fonts";
@import "./base/settings";
@import "./common-blocks/header-footer";
@import "./common-blocks/media-common.scss";


.slider {
  max-width: 50%;
  position: relative;             
  margin: 0 auto;
  height: 100vh;
  &__item {
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    img {
      object-fit: cover;
      width: 100%;
      height: 300px;
    }
  }
  /* stylelint-disable-next-line selector-list-comma-newline-after */
  &__prev, 
  &__next {
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -40px;
    padding: 16px;
    color: #fff;
    font-weight: bold;
    font-size: 50px;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
  }
  &__next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  /* stylelint-disable-next-line selector-list-comma-newline-after */
  &__prev:hover, 
  &__next:hover {
    background-color: rgba(5, 5, 5, .8); 
  }
}