@import "./base/sanitize";
@import "./base/html5doctor";
@import "./base/fonts";
@import "./base/settings";
@import "./common-blocks/header";
@import "./media/listPage-media";


.main {
  padding-top: 30px;
}

.title {
  font-family: Corinthia, sans-serif;
  font-size: 50px;
  text-align: center;
}

.list {
  &__wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 30px;
  }

  &__item {
    flex-basis: 30%;
    text-align: center;
    min-height: 300px;

    span {
      display: block;
      margin-top: 12px;
    }
  }

  &__img {
    height: 200px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__subtitle {
    margin-top: 12px;
    font-size: 19px;
  }

  &__link {
    display: inline-block;
    margin-top: 22px;
    border: 2px solid #000;
    background: #fff;
    font-size: 14px;
    padding: 10px 20px;
    border-radius: 10px;
  }
}
