@import "./base/sanitize";
@import "./base/html5doctor";
@import "./base/fonts";
@import "./base/settings";
@import "./common-blocks/header-footer";
@import "./common-blocks/media-common.scss";
@import "./media/listPage-media";

.list {
  &__wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 30px;
  }

  &__item {
    flex-basis: 30%;
    text-align: center;
    min-height: 300px;
  }

  &__img {
    height: 200px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__subtitle {
    margin-top: 12px;
    font-size: 19px;
  }

  &__link {
    position: relative;
    display: inline-block;
    margin-top: 22px;
    border: 2px solid #000;
    background: #fff;
    font-size: 17px;
    padding: 10px 20px;
    border-radius: 10px;

    &:hover {
      background-color: #000;
    }

    a::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    a:hover {
      color: #fff;
    }
  }
}
