@import "./base/sanitize";
@import "./base/html5doctor";
@import "./base/fonts";
@import "./base/settings";
@import "./common-blocks/header-footer";
@import "./common-blocks/media-common.scss";

// @import "./media/pageOfNote-media";

.note {
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__img {
    margin-top: 20px;
    max-width: 500px;

    img {
      width: 100%;
    }
  }

  &__text {
    margin-top: 15px;
    max-width: 700px;
    text-align: center;
    line-height: 1.45;
  }
}
