@import "../sanitize.scss";
@import "../html5doctor.scss";
@import "media.scss";

* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: 400;
    box-sizing: border-box;
    border: 1px solid rgb(128, 15, 62);
    position: relative;
}

body {
    /*   width: 100vw; */
    background-color: white;
    overflow-x: hidden;
    width: 478px;
    margin: 0 auto;

    div {
        width: 100%;
    }
}


header {
    width: 478px;
    position: fixed;
    margin: 0 auto;
    background-color: white;
    z-index: 5;
    height: 100px;
    top: 0;
    left: 0;
    right: 0;
}

nav {
    width: 100%;

    div {
        display: inline-block;
        float: right;
        min-width: 50%;
        width: 30%;
        vertical-align: bottom;
        height: 80px;

        a {
            vertical-align: bottom;
            height: 100%;
        }
    }
}


h1 {
    max-width: 200px;
    display: inline-block;
    float: left;
    vertical-align: bottom;
    height: 80px;

    a {
        font-size: 3rem;
        vertical-align: text-bottom;
    }
}

img {
    width: 200%;
}