.header {
    padding: 12px 0;
    width: 100%;
    border-bottom: 1px solid #A8A8A8;

}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo {
        width: 75px;
        font-family: 'Corinthia';
        font-size: 24px;
        cursor: pointer;
    }

    &__social {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100px;

        img {
            width: 20px;
            height: 20px;

        }
    }
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 430px;

    &__item {
        color: black;

    }
}