@media (max-width: 991px) {
  .list {
    &__wrapper {
      flex-direction: column;
    }
    &__item {
      align-self: center;
      max-width: 300px;
      &:not(:first-child) {
        margin-top: 30px;
      }
    }
  }
}